#overlay-5 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: all;
    z-index: 2;
    cursor: pointer;
}
#overlay-6 {
    position: fixed;
    display: none;
    overflow-y: auto;
    width: 100%;
    pointer-events: all;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    cursor: pointer;
}
#overlay-8 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    pointer-events: all;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    cursor: pointer;
}
#overlay-10 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    pointer-events: all;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    cursor: pointer;
}

.delete-user-cross {
    font-weight: 800;
    color: red;
    cursor: pointer;
}

.delete-box {
    background-color: white;
    margin-top: 20vh;
}

.delete-user {
    font-weight: 600;
    color: red;
}

.update-icon {
    color: blue;
    cursor: pointer;
}

.update-form-extra {
    margin-top: 10vh;
    @media screen and (max-width: 800px) {
        margin-top: 17vh;
    }
}
.update-form {
    overflow-y: visible;
}

.table-height {
    /* height: 90px; */
    /*   overflow-y: scroll; */
}

// #add-user-form-box {
//     display: none;
// }

.add-overlay {
    margin-top: 120px;

    @media screen and (max-width: 800px) {
        margin-top: 180px;
    }
}
.add-user-button {
    width: 100%;
}

.tip-text {
    color: black;
    font-size: 30px;
}
.add-form {
    background-color: white;
}
body {
    display: fixed;
}
.green-text {
    color: green;
}
.view-text {
    color: blue;
    font-weight: bold;
}

.blue-text {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: blue;
    font-size: 17px;
}

.request-body-text {
    font-size: 16px;
    color: black;
}

.view-button {
    cursor: pointer;
}

.help-map-box {
    width: 100%;
    height: 200px;
    background-color: red;
}

.button-down {
    margin-top: 110px;

    @media screen and (max-width: 600px) {
        margin-top: 0;
    }
}
.button-down-2 {
    margin-top: 110px;

    @media screen and (max-width: 600px) {
        margin-top: 0;
    }
}

.logo-size {
    width: 80px;
}

.modal-title-extra {
    text-align: center !important;
    margin-left: 90px;
    color: black;
}
