.button-down {
    margin-top: 110px;

    @media screen and (max-width: 600px) {
        margin-top: 0;
    }
}
.button-down-2 {
    margin-top: 110px;

    @media screen and (max-width: 600px) {
        margin-top: 0;
    }
}

.view-text {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.modal-title {
    color: blue;
}

.body-header {
    font-size: 20px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.delete-text {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.product-image {
    width: 100%;
    height: 300px;
}
